{{ define "main" }}

{{ "<!-- Page Header -->" | safeHTML }}
<section class="global-page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h2>{{ .Title }}</h2>
                    <div class="portfolio-meta">
                        {{ with .Params.category }}
                        <span>{{ delimit .Params.category ", " }}</span>|
                        {{ end }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{{ "<!-- work details part start -->" | safeHTML }}
<section class="work-single">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                {{ with .Params.image }}
                <div class="work-single-image">
                    <!-- Work Single Image -->
                    <img class="img-fluid w-25" src="{{ . | absURL }}" alt="work-single-image">
                </div>
                {{ end }}
                <!-- work single Content -->
                {{ with .Content }}
                <div class="work-single-content">
                    {{ . }}
                </div>
                {{ end }}
            </div>
            <div class="col-lg-4">
                <!-- sidebar -->
                <div class="work-single-sidebar">
                    {{ with .Params.role }}
                    <h5>{{ . }}</h5>
                    {{ end }}
                    {{ with .Params.liveLink }}
                    <h6>Site pro : <a href="{{ . }}">{{ .}}</a></h6>
                    {{ end }}
                    <h5>À Sanxay</h5>
                    <ul>
                    {{ range $index, $element:= .Params.show }}
                    <li>- {{ .role }}, dans <a href="{{ .url }}">{{ .title }}</a></li>
                    {{ end }}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
{{"<!-- work details part end -->" | safeHTML }}

{{ partial "cta.html" . }}

{{ end }}