{{ define "main" }}

{{ "<!-- Page Header -->" | safeHTML }}
<section class="global-page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h2>{{ .Title }}</h2>
                    <div class="portfolio-meta">
                        <span>{{ .Params.caption }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{{ "<!-- work details part start -->" | safeHTML }}
<section class="work-single">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                {{ with .Params.image }}
                <div class="work-single-image">
                    <!-- Work Single Image -->
                    <img class="img-fluid w-100" src="{{ . | absURL }}" alt="work-single-image">
                </div>
                {{ end }}
                <!-- work single Content -->
                {{ with .Content }}
                <div class="work-single-content">
                    {{ . }}
                </div>
                {{ end }}
            </div>
            <div class="col-lg-4">
                <!-- sidebar -->
                <div class="work-single-sidebar">
                    {{ with .Params.submitDate }}
                    <h6>Représentations : {{ . }}</h6>
                    {{ end }}
                    {{ with .Params.source }}
                    <h6>{{ . }}</h6>
                    {{ end }}
                    {{ with .Params.created }}
                    <h6>{{ . }}</h6>
                    {{ end }}
                    {{ with .Params.wikiLink }}
                    <h6>Wikipédia : <a href="{{ . | absURL }}">{{ . | absURL }}</a></h6>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</section>
{{"<!-- work details part end -->" | safeHTML }}

{{ partial "cta.html" . }}

{{ end }}