{{ if .Site.Data.pricing.enable }}
{{ "<!-- Client Section Start -->" | safeHTML }}
{{ with .Site.Data.pricing }}
<section class="pricing-table section bg-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        {{ with .title }}<h2 class="subtitle text-center wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay=".3s">{{ . }}</h2>{{ end }}
        {{ with .subtitle }}<p class="subtitle-des text-center wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay=".5s">{{ . }}</p>{{ end }}
      </div>
      <!-- single pricing table -->
      {{ range .pricing_table }}
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="pricing-item text-center">
          <div class="price-title">
            <h3>{{ .name }}</h3>
            <strong class="value">{{ .price }}</strong>
            <p>{{ .content | markdownify }}</p>
          </div>
          <ul>
            {{ range .services }}
            <li>{{ . | markdownify }}</li>
            {{ end }}
          </ul>
          {{ with .link }}<a class="btn btn-small" href="{{ . | safeURL }}">{{ i18n "buy_now" }}</a>{{ end }}
        </div>
      </div>
      {{ end }}
      <!-- end single pricing table -->
    </div>
  </div>
</section>
{{ end }}
{{ end }}
